*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	color:#fff;
}

header{
	text-align: center;
}

.app-form, .ready-drink{
	width: 430px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 100px;
	background-color: #000;
}

.inputAns{
	/*margin-top:5px;*/
	color:#000;
}

.block{
	display:block;
	margin-bottom:5px;
}

.ready-drink{
	display:none;
}

.submitBtn{
	display: block;
	height: 35px;
	width: 90px;
	border-radius: 5px;
	font-weight: bold;
	color: #000;
	margin-top: 10px;
}

.bg-image{
	height:100%;
	width:100%;
	background:url('images/Cocktail2.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

